*{
    font-family: 'Script';
}
h2{
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}
h1{
    font-weight: bold;
}
.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="text"]:focus,input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.container{
    text-align: center;
}

.centrar{
    align-items: center;
    text-align: center;
    margin: 25px;
    padding: 5px;
}

.hijo{
    display: inline-block;
}
.contenedor-total{
    text-align: right;
    
}
.total{
    float: left;
    margin-right: 10px;
}
.texta{
    float: right;
}

/*Estilos para el total*/
.input-group.mb-3.a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.input-group.mb-3.a .input-group-text.a {
    width: auto; 
    padding: 0; 
}

.input-group-text.a input.form-control.a {
    width: 100px;
}
